/bootstrap/compiled.php
/vendor
/html
/bower_components
/node_modules
/public/packages
/public/uploads
/uploads
/app/storage
/app/config/quizapp.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
ilman_maulana_open_ssh.ppk
code.zip